<!DOCTYPE html>
<html>

<head>
    <title>Reset Password - oli.casa</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>Reset Password</h1>
        <p>
            Reset password for <%- email %>
            <a class="success"><%- msg %></a>
        </p>
        <form action="/api/passwordreset" method="post" id="updatePasswordForm">
            <input type="text" hidden name="email" value="<%-email%>"/>
            <input type="text" hidden name="key"value="<%-key%>"/>

            <label>New Password:</label>
            <input autocomplete="new-password" type="password" id="password" placeholder="" name="new_password" />
            <a id="passError" class="warning"></a>

            <label>Confirm New Password:</label>
            <input autocomplete="new-password" type="password" id="passwordConfirm" placeholder="" name="new_password_confirm" />
            <a id="confPassError" class="warning"></a>
    
            <a class="warning"><%- error %></a>
            <input id="submitButton" type="submit" value="Change Password" />
        </form>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="./js/myaccount.js"></script>
</body>

</html>