<header>
    <%- include('../svgs/chef-hat-icon'); %>
        <h1>The System</h1>
        <nav id="nav-bar">
            <div id="home-button" class="nav-bar-tab active" title="Home"><%- include('../svgs/home-icon'); %></div>
            <div id="add-button" class="nav-bar-tab" title="Add a Meal"><%- include('../svgs/add-icon'); %></div>
            <div id="system-button" class="nav-bar-tab" title="Your Systems"><%- include('../svgs/buildings-icon'); %>
            </div>
            <div id="account-button" class="nav-bar-tab" title="My Account"><%- include('../svgs/chef-hat-icon-2'); %>
            </div>
        </nav>
</header>