<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home - The System</title>
  <%- include('../partials/head'); %>
    <%- index_css %>
</head>

<body class="with-navbar">
  <header>
    <%- include('../partials/header'); %>
      <%- include('../partials/navbar'); %>
  </header>
  <main id="home" class="active"></main>
  <main id="add">
    <h1>Add Meal</h1>
    <form id="form-add-a-meal" action="/api/meal/add" method="post">
      <div class="section visible">
        <label>Date:</label>
        <input type="date" id="form-add-a-meal-date-cooked" name="date-cooked" required />
      </div>
      <div class="section visible">
        <label>System:</label>
        <select name="system" id="form-add-a-meal-system-select" required></select>
      </div>
      <div id="form-add-a-meal-who-ate" class="checkbox-group section">
      </div>

      <div id="form-add-a-meal-tags" class="section">
        <label>Your Meal:</label>
        <input type="text" name="name" placeholder="Meal Name..." autocomplete="off" required />
        <input type="text" name="description" placeholder="Meal Description..." autocomplete="off" required />
        <label>Photo:</label>
        <p>
          Add photo functionality here
        </p>
      </div>


      <input type="submit" value="Add Meal" />
    </form>
  </main>
  <main id="system">
    <form class="quick-form" id="form-join-a-system" action="/api/system/join" method="get">
      <h2>Join a System</h2>
      <input type="text" name="id" autocomplete="off" placeholder="System Join Code" />
      <input type="submit" value="Request to Join System" />
    </form>

    <h2>My Systems</h2>
    <div id="my-systems"></div>
  </main>
  <main id="account">
    <h1>Manage Account</h1>

    <button><a href="<%- auth_url %>myaccount">Manage Password</a></button>
    <button><a href="<%- auth_url %>logout">Logout</a></button>

    <h2>Update Name</h2>
    <form id="form-update-name" action="/api/user/update-name" method="post">
      <label>Name: </label>
      <input type="text" name="name" autocomplete="off" placeholder="Oli Cass" />
      <input type="submit" value="Change Name" />
    </form>

    <h2>Change Profile Picture</h2>
    <div>
      <p>change profile picture settings here</p>
    </div>


  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <%- index_js %>

    <div id="svg-res">
      <%- include('../svgs/plate-egg'); %>
        <%- include('../svgs/button-like'); %>
          <%- include('../svgs/button-dislike'); %>
            <%- include('../svgs/button-comment'); %>
              <%- include('../svgs/button-share'); %>
    </div>
</body>

</html>