<!DOCTYPE html>
<html lang="en">

<head>
  <title><%- user_name %> - The System</title>
  <%- include('../partials/head'); %>
    <%- index_css %>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main id="home" class="active"></main>
    
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
    </div>
</body>

</html>