<header>
    <%- include('../svgs/chef-hat-icon'); %>
        <h1>The System</h1>
        <nav id="nav-bar">
            <div id="home-button" class="nav-bar-tab active" title="Home"><a href="#/home/"><%-
                        include('../svgs/home-icon'); %></a></div>
            <div id="add-button" class="nav-bar-tab" title="Add a Meal"><a href="#/add/"><%-
                        include('../svgs/add-icon'); %></a></div>
            <div id="system-button" class="nav-bar-tab" title="Your Systems"><a href="#/my-systems/"><%-
                        include('../svgs/buildings-icon'); %></a>
            </div>
            <div id="account-button" class="nav-bar-tab" title="My Account"><a href="#/my-account/"><%-
                        include('../svgs/chef-hat-icon-2'); %></a>
            </div>
        </nav>
</header>